<hr class="border-[#5dc6cf] sm:mx-auto" />
<footer class="bg-white rounded-lg m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 ">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" class="flex items-center">
                <img src="/images/logo.png" class="mr-3 h-6 sm:h-9" alt="MISAyang Samahan Logo" />
            </a>
            <span class="block text-sm text-[#2097a2] sm:text-center">©2025 <a href="#"
                    class="hover:text-[#5dc6cf] hover:underline transition-colors">MISA</a>. All Rights Reserved.</span>
        </div>        
    </div>
</footer>