<header>
    <nav class="bg-white border-[#5dc6cf] px-4 lg:px-6 py-2.5">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="/" class="flex items-center">
                <img src="/images/logo.png" class="mr-3 h-6 sm:h-9" alt="MISAyang Samahan Logo" />
            </a>
            <div class="flex items-center lg:order-2">
                <a href="#"
                    class="text-[#2097a2] hover:bg-[#5dc6cf] hover:text-white focus:ring-4 focus:ring-[#5dc6cf] font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none transition-colors">Log
                    in</a>
                <a href="#"
                    class="text-white bg-[#2097a2] hover:bg-[#5dc6cf] focus:ring-4 focus:ring-[#5dc6cf] font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none transition-colors">Get
                    started</a>
            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>
                        <a href="/"
                            class="block py-2 pr-4 pl-3 text-[#2097a2] rounded lg:bg-transparent lg:text-[#2097a2] lg:p-0 font-semibold"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pr-4 pl-3 text-[#2097a2] border-b border-[#5dc6cf] hover:bg-[#5dc6cf] hover:text-white lg:hover:bg-transparent lg:border-0 lg:hover:text-[#2097a2] lg:p-0 transition-colors">About</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pr-4 pl-3 text-[#2097a2] border-b border-[#5dc6cf] hover:bg-[#5dc6cf] hover:text-white lg:hover:bg-transparent lg:border-0 lg:hover:text-[#2097a2] lg:p-0 transition-colors">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>