@import "tailwindcss";

p {
    @apply text-lg font-normal text-gray-700 my-4;
}

.selected {
    @apply bg-[#FCE992] shadow-lg text-[#c99812];
}

.hidden {
    display: none;
}

.choice-a:hover {
    background-color: rgb(31, 41, 55) ;
    border-color: rgb(31, 41, 55) ;
    color: white ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) ;
}

.choice-b:hover {
    background-color: rgb(55, 65, 81) ;
    border-color: rgb(55, 65, 81) ;
    color: white ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) ;
}

.choice-c:hover {
    background-color: rgb(75, 85, 99) ;
    border-color: rgb(75, 85, 99) ;
    color: white ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25) ;
}

.choice-d:hover {
    background-color: rgb(17, 24, 39) ;
    border-color: rgb(17, 24, 39) ;
    color: white ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) ;
}