@import "tailwindcss";

p {
    @apply text-lg font-normal text-gray-700 my-4;
}

.selected {
    @apply bg-[#FCE992] shadow-lg text-[#c99812];
}

.hidden {
    display: none;
}

.choice-a:hover {
    background-color: #0047AB;
    border-color: #0047AB;
    color: white;
    box-shadow: 0 0 10px rgba(0, 71, 171, 0.5);
}

.choice-b:hover {
    background-color: #10751A;
    border-color: #10751A;
    color: white;
    box-shadow: 0 0 10px rgba(16, 117, 26, 0.5);
}

.choice-c:hover {
    background-color: #800000;
    border-color: #800000;
    color: white;
    box-shadow: 0 0 10px rgba(128, 0, 0, 0.5);
}

.choice-d:hover {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #222222;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.choice-a.selected {
    background-color: #0047AB;
    border-color: #0047AB;
    color: white;
    box-shadow: 0 0 10px rgba(0, 71, 171, 0.5);
}

.choice-b.selected {
    background-color: #10751A;
    border-color: #10751A;
    color: white;
    box-shadow: 0 0 10px rgba(16, 117, 26, 0.5);
}


.choice-c.selected {
    background-color: #800000;
    border-color: #800000;
    color: white;
    box-shadow: 0 0 10px rgba(128, 0, 0, 0.5);
}

.choice-d.selected {
    background-color: #FFD700;
    border-color: #FFD700;
    color: #222222;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

